<div class = 'container'>
  <h3>Edit <%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>&nbsp;&nbsp;<%= link_to "Cancel", :back %>
    </div>
  <% end %>
</div>
